body {
  margin: 0;
  font-family: 'Inter', system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e5d8c8;
}
header{
 border-bottom: 1px solid #eaeaea;
}
h3,p{margin:0;}
*{
font-family: 'Inter',sysmem-ui;
}


.search-block{
  border: 1px solid #f3f3f3;
  border-radius: 10px;
  padding: 0 13px;
  input{
    padding: 5px;
    border: 13px;
    font-size: 16px;
    width: 200px;
  }
}



.wrapper{
  
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(0,0,0,0.1);
  border-radius: 20px;
  max-width: 1080px;
  margin: 50px auto;
  //padding: 50px;
}
.content{
  h1{
    margin:0;
  }
}

.drawerShadow{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
  z-index: 1;
}

.items{
  flex: 1;
  overflow: auto;
  margin-bottom: 40px;
}

.drawer{
 display: flex;
 flex-direction: column;
  position: absolute;
  
  width: 450px;
  height: 100%;
  right: 0;
  background: #fff;
  box-shadow: -10px 4px 24px rgba(0,0,0,0.1);
  padding: 30px;
  
  h2{
    margin: 0;
    font-size: 24px
  }
}

.cartItem{
  border: 1px solid #f3f3f3;
  border-radius: 20px;
  overflow: hidden;
  p{
    font-size: 16px;
  }
  b{
    font-size:14px ;
  }
}
.removeBtn{
  opacity: 0.3;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
  &:hover{
    opacity: 1;
  }
}
.cartTotalBlock{
  
  

  ul{
    display: block;
    margin-bottom: 40px !important;
  
      
    
    li{
      display: flex;
      
      align-items: flex-end;
      margin-bottom: 18px;

    
    div{
      flex:1;/*всю ширину*/
      
      height: 1px;
      border-bottom: 1px dashed #dfdfdf;
      position: relative;
      top: -4px;
      margin: 0 6px;
    }
  }
}
.greenButton{
  position: relative;
  &:hover{
    img{
      transform: translateX(20px);
      transition: transform 0.15s ease-in-out;
    }
  }
  
  img{
    position: absolute;
    right: 50px;
    transition: transform 0.2s ease-in-out;
  }
}
  
}

.greenButton{
   
    width: 100%;
    height:  55px;
    background: #91ba82;
    border-radius: 18px;
    border: 0;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.1s ease-in-out;
    

    &:hover{
      background: lighten( #9dd558, 5%);
    }
    &:active{
      background: darken( #9dd558, 5%);
    }
    
  }